{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "compact": false,
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-export-default-from"
  ]
}
