# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{yml,yaml,json,js,jsx,css,scss,sass,html}]
indent_style = space
indent_size = 2

[.{eslint,babel,postcss}rc]
indent_style = space
indent_size = 2
language = json

[Makefile]
indent_style = tab

[Jenkinsfile]
indent_style = space
indent_size = 2
language = groovy
